*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
 .container{
    width: 100%;
    min-height: 100vh;
    background : linear-gradient(grey,white);
    padding: 250px 150px 250px ;
}
.todo-app{
    width: 100%;
    max-width: 650px;
    /* background:white; */
    margin: 100px auto 20px;
    padding: 0;
    border-radius: 50px;
    color: rgba(69, 8, 46, 0.731);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;  
    padding-bottom: 90px;
}
.todo-app h1{
    color: #3d0442;
    display: flex;
    align-items: center;
    padding-right: 2px;
    justify-content: center;
    margin-bottom: 15px;
      
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dfe3ea;
    border-radius: 20px;
    padding-left: 1px;
    margin-bottom: 25px;
}
section{
    padding: 50px 50px;
    border: none;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px 20px 20px;
    padding-right: 5px;
    font-weight: 14px;
}
button {
    padding: 5px 8px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #6baeea;
    color: black;
    border: none;
    border-radius: none;
    cursor:auto;
}
li {
    cursor: pointer;
    font-size: x-large;
    /* position: relative; */
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding: 0 0;
    margin-bottom: 20px;
    background-color:transparent;
    border-radius: 3px;
    
}
 
